# Elastic APM & Elasticsearch Integration Configuration Template
ELASTIC_APM_SERVER_URL=https://elasticsearch:9200
ELASTIC_APM_API_KEY=your_base64_api_key_here
ELASTIC_APM_VERIFY_SERVER_CERT=false
ELASTIC_APM_ENVIRONMENT=development
ELASTIC_APM_ACTIVE=true
ELASTIC_APM_LOG_LEVEL=info
NODE_TLS_REJECT_UNAUTHORIZED=0
