# Elastic APM Server Configuration
# If ELK is on another EC2 host: http://<ELK_HOST>:8200
# If ELK is on the same machine:  http://host.docker.internal:8200
ELASTIC_APM_SERVER_URL=http://<ELK_SERVER_IP>:8200
ELASTIC_APM_API_KEY=your_base64_api_key_here
ELASTIC_APM_SECRET_TOKEN=
ELASTIC_APM_VERIFY_SERVER_CERT=false
ELASTIC_APM_ENVIRONMENT=development
ELASTIC_APM_ACTIVE=true
ELASTIC_APM_LOG_LEVEL=info
NODE_TLS_REJECT_UNAUTHORIZED=0
